<ion-header [translucent]="true">
  <ion-toolbar color="primary">
     <ion-row>
      <ion-buttons>
        <ion-back-button slot="start">
        </ion-back-button>
      </ion-buttons>
    
      <ion-title>
        {{receita.nome}}
      </ion-title>
     </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div>
      <div>
        <img class="imagem" [src]="'assets/images/receita'+(receita.id)+'.png'" [alt]="receita.nome">
        
        <ion-row>
          <ion-card-subtitle>{{receita.porcoes}} porções - {{receita.tempo}} minutos</ion-card-subtitle>
          
          <ion-fab horizontal = "end">
            <ion-buttons>
              <ion-button (click)="clicandoBotaoFavorito()" [color]="receita.favorito? 'primary' : '' ">
                <ion-icon size="large" [name]="receita.favorito? 'heart' : 'heart-outline'"></ion-icon>
              </ion-button>

              <ion-button (click)="abrirEventos()">
                <ion-icon size="large" name="calendar-number-outline"></ion-icon>
              </ion-button>
               
            </ion-buttons>
          </ion-fab>   
        </ion-row>
        
        
        <h2 style="color: brown;">Ingredientes:</h2>
        <div *ngFor='let i of receita.ingredientes'>
          <div *ngIf='i.descricao.length'>
            <h5 style="color: #ec7e49;">{{i.titulo}}</h5>

            <div *ngFor='let d of i.descricao'>
              <ion-checkbox style="margin-right: 5px;"></ion-checkbox>
              <ion-label>{{d}}</ion-label><br>
            </div>
          </div>
        </div>

        <h2 style="color: brown;">Modo de preparo:</h2>
        <div *ngFor='let i of receita.modoPreparo'>
          <div *ngIf='i.descricao.length'>
            <h5 style="color: #ec7e49;">{{i.titulo}}</h5>
            <div *ngFor='let d of i.descricao'>
              <p>{{d}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </ion-content>

</ion-content>
