<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Localização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar lugares pelo CEP " [(ngModel)]="cepDigitado" (ionChange)="buscandoMapa()"></ion-searchbar>

  <div *ngIf="localizacaoAtivada; else vazio">
    <img style="margin-top: 25px" [src]="imgMapa" alt="">
  </div>
  
  <ng-template #vazio>
    <ion-row style="margin-left: 36%;
    margin-top: 40%;" class="ion-align-items-center">
      <ion-icon name="location-sharp"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-text style="margin-left: 10%;">
        <p>Localize supermercados, lojas de conveniência, mercearias etc.</p>
      </ion-text>
    </ion-row>
  </ng-template>

</ion-content>
