<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Lista de Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list *ngIf="listaFavoritos.length; else vazioFavoritas">
      <ion-item *ngFor="let r of listaFavoritos">

        
        <app-card-receitas [receita]="r"></app-card-receitas>
        <ion-fab horizontal="end" vertical="bottom">
          <ion-buttons>
            <ion-button (click)="removerFavorito(r)">
              <ion-icon size="large" name="trash-outline"></ion-icon>
            </ion-button>
             
          </ion-buttons>
        </ion-fab>   
        

      </ion-item>
    </ion-list>

    <ng-template #vazioFavoritas>
      <h3>Não há nenhum item adicionado como favorito</h3>

      <ion-row>
        <ion-col class="ion-align-items-center" style="margin-left: 20%">
          <ion-button routerLink="/tabs/busca">
            Adicionar favoritos
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </div>
  
</ion-content>