<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Lista de Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list *ngIf="listaFavoritos.length; else vazioFavoritas">
      <ion-item *ngFor="let r of listaFavoritos">
        
        <app-card-receitas [receita]="r"></app-card-receitas>

        <ion-buttons>
          <ion-button (click)="removerFavorito(r)">
            <ion-icon size="large" name="trash-outline"></ion-icon>
          </ion-button>
           
        </ion-buttons>       
      </ion-item>
    </ion-list>

    <ng-template #vazioFavoritas>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label>Nenhum item foi adicionado como favorito!!!</ion-label>
        </ion-col>
      
        <ion-col>
          <ion-button color="warning" routerLink="/tabs/busca">
            Adicionar favoritos
          </ion-button>
        </ion-col>
      </ion-row>

    </ng-template>
  </ion-content>
  
</ion-content>