<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>FAVORITOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>LISTA DE FAVORITOS</h2>

  <div>
    <ion-list *ngIf="listaFavoritos.length; else vazioFavoritas">
      <ion-item *ngFor="let r of listaFavoritos">

        <app-card-receitas [receita]="r"></app-card-receitas>

        <ion-buttons slot="end" color="primary">
          <ion-button fill="solid" (click)="removerFavorito(r)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>
    </ion-list>

    <ng-template #vazioFavoritas>
      <h3>Não há nenhuma receita adicionada como favorita</h3>

      <ion-row>
        <ion-col class="ion-align-items-center" style="margin-left: 20%">
          <ion-button routerLink="/busca">
            ADICIONAR FAVORITOS
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </div>
  
</ion-content>