<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="busca">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="evento">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Festa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="localizacao">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Localização</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="intro">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Intro</ion-label>
    </ion-tab-button>-->


  </ion-tab-bar>

</ion-tabs>
