.icones {
    font-size: 15pt;
    padding-left: 15px;
}

div {
    height: 90%;
    width: 100%;
    padding-left: 5px;
}

.conteudoFormulario {
    width: 100%;
    margin-bottom: 0.1pt;
    font: 0.5em;
    border: 0.8px solid #f39718;
    border-radius: 5px;
}

h3 {
    font-size: 1em;
}
