.icones {
    font-size: 15pt;
    padding-left: 15px;
}

div {
    height: 90%;
    width: 100%;
    padding-left: 5px;

}

ion-input {
    width: 100%;
    margin-bottom: 1em;
    font: 0.5em;
    border: 0.3px solid rgba(0,0,0,0.3);
}