<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button slot="start">
            </ion-back-button>
        </ion-buttons>
        
      <ion-title>
        Bolo de cenoura
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-content class="ion-padding">
      <img src="assets/images/bolo de cenoura.png" alt="Bolo de cenoura">
      <ion-fab vertical= "top" horizontal = "end">
        <ion-fab-button size="small" color="warning">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-card-subtitle>8 porções</ion-card-subtitle> 
      
  
      <h2 style="color: brown;">Ingredientes:</h2>
      <h5 style="color: #ec7e49;">Massa:</h5>
  
      <input type="checkbox" color="warning"> 1/2 xícara (chá) de óleo<br>
      <input type="checkbox"> 3 cenouras médias raladas<br>
      <input type="checkbox"> 4 ovos<br>
      <input type="checkbox"> 2 xícaras (chá) de açúcar<br>
      <input type="checkbox"> 2 e 1/2 xícaras (chá) de farinha de trigo<br>
      <input type="checkbox"> 1 colher (sopa) de fermento em pó
  
      <h5 style="color: #ec7e49;">Cobertura:</h5>
      <input type="checkbox"> 1 colher (sopa) de manteiga<br>
      <input type="checkbox"> 3 colheres (sopa) de chocolate em pó<br>
      <input type="checkbox"> 1 xícara (chá) de açúcar<br>
      <input type="checkbox"> 1 xícara (chá) de leite
  
  
      <h2 style="color: brown;">Modo de preparo:</h2>
      <h5 style="color: #ec7e49;">Massa:</h5>
      Em um liquidificador, adicione a cenoura, os ovos e o óleo, depois misture. Acrescente o açúcar e bata novamente por 5 minutos.
      Em uma tigela ou na batedeira, adicione a farinha de trigo e depois misture novamente. Acrescente o fermento e misture lentamente com uma colher.
      Asse em um forno preaquecido a 180° C por aproximadamente 40 minutos.
  
      <h5 style="color: #ec7e49;">Cobertura:</h5>
      Despeje em uma tigela a manteiga, o chocolate em pó, o açúcar e o leite, depois misture.
      Leve a mistura ao fogo e continue misturando até obter uma consistência cremosa, depois despeje a calda por cima do bolo.
    
    </ion-content>
  
  </ion-content>
  