<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharFiltro()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Tipo</h2>
  <ion-row>
    <ion-col *ngFor="let t of listaFiltroTipos">
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="t.status" (ionChange)="obtendoFiltrosSelecionados()"></ion-checkbox>
        <ion-label>{{t.tipo}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <h2>Categoria</h2>
  <ion-row>
    <ion-col>
      <ion-item *ngFor="let c of listaFiltroCategorias">
        <ion-checkbox slot="start" [(ngModel)]="c.status" (ionChange)="obtendoFiltrosSelecionados()"></ion-checkbox>
        <ion-label>{{c.categoria}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <h2>Ingredientes</h2>
  <ion-row>
    <ion-col>
      <ion-item *ngFor="let i of listaFiltroIngredientes">
        <ion-checkbox slot="start" [(ngModel)]="i.status" (ionChange)="obtendoFiltrosSelecionados()"></ion-checkbox>
        <ion-label>{{i.ingrediente}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>