<ion-card>
  <ion-card-header>
    <img class="imagem" [src]="'assets/images/receita'+(receita.id)+'.png'" [alt]="receita.nome">
    <ion-card-subtitle>{{receita.tipo}} | {{receita.categoria}}</ion-card-subtitle>
    <ion-card-title>{{receita.nome}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-text>{{receita.porcoes}} porções - {{receita.tempo}} minutos</ion-text>
    <br> <br>
    <ion-button color="warning" [routerLink]="['/receitas', receita.id]">Veja a receita</ion-button>
  </ion-card-content>
</ion-card>
