<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="meusEventos.length != 0; else nenhumEvento">
    <ion-item *ngFor="let evento of meusEventos">
      <ion-row>
        <ion-col size="auto">
          <ion-icon class="icones" name="bookmark-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <h3>{{evento.nomeEvento}}</h3>
        </ion-col>
        <ion-col size="auto">
          <ion-button size="small" fill="clear" color="dark" (click)="opcoes(evento)  ">
            <ion-icon class="icones" slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-button expand="block" fill="clear" routerLink="./cadastro-evento">
      <ion-icon class="icones" name="add-outline"></ion-icon>
    </ion-button>
  </ion-list>

  <ng-template #nenhumEvento>
      <p class="textoCentral">Nenhum evento adicionado</p>
  
      <ion-button class="posicaoBotaoSemEventos" expand="block" fill="clear" routerLink="./cadastro-evento">
        <ion-icon class="icones" name="add-outline"></ion-icon>
      </ion-button>
    </ng-template>

</ion-content>
