/*.posicaoIcone {
    font-size: 15pt;
    padding-top: 13px;
    //text-align: center;
}*/

/*h3 {
    margin-top: 0px;
    font-size: 1em;
    padding-left: 0%;
}*/

.icones {
    font-size: 15pt;
    padding-left: 15px;
}


/*.textoCentral {
    text-align: center;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}*/

/*.posicaoBotaoSemEventos {
    position: relative;
    top: 50%;
}*/