<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-buttons>
        <ion-back-button slot="start"></ion-back-button>
      </ion-buttons>
      <ion-title>Edição do evento</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="secundary" class="ion-padding">
  <div><h3></h3>
    <ion-row>
      <h3>Nome</h3>
    </ion-row>
    <ion-row>
      <ion-input class="conteudoFormulario" type="text" placeholder="" [(ngModel)]="nomeEvento"></ion-input>
    </ion-row>
    <ion-row>
      <h3>Data</h3>
    </ion-row>
    <ion-row>
      <ion-datetime class="conteudoFormulario" displayFormat="DD/MM/YYYY" [placeholder]="dataEvento" [(ngModel)]="dataEvento"></ion-datetime>
    </ion-row>
    <ion-row>
      <h3>Nº de convidados </h3>
    </ion-row>
    <ion-row>
      <ion-input class="conteudoFormulario" type="number" placeholder="" [(ngModel)]="qtdConvidados"></ion-input>
    </ion-row>
          <ion-button color="primary" expand="block" fill="clear" class="conteudoFormulario" (click)="editarEvento()">
            <ion-icon class="icones" slot="icon-only" name="checkmark-outline"></ion-icon>
          </ion-button>
  </div>
</ion-content>
