<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-searchbar placeholder="Buscar" [(ngModel)]="textoBusca" (ionChange)="buscar()"></ion-searchbar>

    <div *ngIf="(listaBuscaReceitas.length) || (listaBuscaInformes.length); else vazioBusca">
      <ion-list *ngIf="listaBuscaReceitas.length">
        <app-card-receitas *ngFor="let r of listaBuscaReceitas" [receita]="r"></app-card-receitas>
      </ion-list>
      <ion-list *ngIf="listaBuscaInformes.length">
        <app-card-informes *ngFor="let i of listaInformes" [informe]="i"></app-card-informes>
      </ion-list>
    </div>
    
  
    <ng-template #vazioBusca>
      <ion-item>
        <ion-label *ngIf="buscaAtivada">Nenhum resultado foi encontrado!!!</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="(!listaBuscaReceitas.length) && (!listaBuscaInformes.length)">
        <ion-title style="font-size: 30px">Dicas</ion-title>
        <app-card-informes *ngFor="let i of listaInformes" [informe]="i"></app-card-informes>

        <br> <br>
        <ion-title style="font-size: 30px">Receitas</ion-title>
        <app-card-receitas *ngFor="let r of listaReceitas" [receita]="r"></app-card-receitas>
    </ion-list>
  </ion-content>
</ion-content>