.container {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0;
    min-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.molduraExterna {
    border-bottom: 0.5px solid #f39718;
}

ion-label {
    font-size: 20px;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.tituloCol {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 7pt;
    color: orange;
    margin-bottom: 0em;
}

.subtituloCol {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10pt;
    color: brown;
    margin-bottom: 1em;
}