<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minhas Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secundary" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let receita of receitasEvento">
      <ion-row class="molduraExterna">
        <ion-col size="4">
          <div class="colCard">
            <img [src]="receita.imgReceita" />
          </div>
        </ion-col>
        <ion-col >
          <div class="colCard">
            <h4 class="tituloCol">Titulo:</h4>
            <h4 class="subtituloCol" [routerLink]="receita.urlReceita">{{receita.tituloReceita}}</h4>
            <h4 class="tituloCol">Quantidade:</h4>
            <h4 class="subtituloCol">{{receita.qtdReceita}}x</h4>
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-button size="small" fill="clear" (click)="removerReceita(receita)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
   </ion-list>
</ion-content>
