<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minhas receitas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharReceitas()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secundary" class="ion-padding">
  <ion-list *ngIf="meusEventos.receitasEvento.length != 0; else semReceitasAdicionadas">
    <ion-item *ngFor="let receita of meusEventos.receitasEvento">
      <ion-row class="molduraExterna">
        <ion-col size="4" (click)="navegarReceita(receita)">
          <div class="colCard">
            <img [src]="receita.imgReceita" />
          </div>
        </ion-col>
        <ion-col (click)="navegarReceita(receita)" >
          <div class="colCard">
            <h4 class="tituloCol">Titulo:</h4>
            <h4 class="subtituloCol">{{receita.tituloReceita}}</h4>
            <h4 class="tituloCol">Quantidade:</h4>
            <h4 class="subtituloCol">{{receita.qtdNecessaria}}x</h4>
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-button size="small" fill="clear" (click)="removerReceita(receita)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
   </ion-list>

   <ng-template #semReceitasAdicionadas>
    <ion-label>Nenhuma receita foi adicionada!!!</ion-label>
  </ng-template>
  </ion-content>
